#p6{
    font-size:20px;
    background:#FFFFFF url("../images/img6.JPG"); 
}
#hr_f{
    align-items: center;
    color:green;
}
#hr_f2{
    align-items: center;
    color:grey;
    width:20%
    
}
#content_f{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}
@media (max-width:800px){
    #p6{
        font-size:14px;
    }

}